@model ErronkaOndo.Models.Komentario

@{
    ViewData["Title"] = "Create";
}



<h4 class="izenburua">Komentario</h4>
<hr />
<div class="testua">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="testua" class="control-label"></label>
                <input asp-for="testua" class="form-control" />
                <span asp-validation-for="testua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="erabiltzailea" class="control-label"></label>
                <input asp-for="erabiltzailea" class="form-control" />
                <span asp-validation-for="erabiltzailea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="partidaId" class="control-label"></label>
                <input asp-for="partidaId" class="form-control" value="@ViewBag.partidaId"/>
                <span asp-validation-for="partidaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
