USE [master]
GO
/****** Object:  Database [Puntuazioa]    Script Date: 16/02/2022 7:37:53 ******/
CREATE DATABASE [Puntuazioa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'puntuazioa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\puntuazioa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'puntuazioa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\puntuazioa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Puntuazioa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Puntuazioa]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 16/02/2022 7:37:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [int] NOT NULL,
	[izena] [nvarchar](50) NULL,
	[abizena] [nvarchar](50) NULL,
	[adina] [int] NULL,
	[departamentua] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
 CONSTRAINT [PK_employees] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inkesta]    Script Date: 16/02/2022 7:37:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inkesta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[puntuazioa] [int] NULL,
	[hobekuntza] [nvarchar](255) NULL,
	[gomendioa] [int] NULL,
	[jokugaia] [nvarchar](50) NULL,
	[gustora] [nvarchar](50) NULL,
 CONSTRAINT [PK_Inkesta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Komentario]    Script Date: 16/02/2022 7:37:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Komentario](
	[komentarioId] [int] IDENTITY(1,1) NOT NULL,
	[testua] [nvarchar](50) NULL,
	[erabiltzailea] [nvarchar](50) NULL,
	[partidaId] [int] NULL,
 CONSTRAINT [PK_Komentario] PRIMARY KEY CLUSTERED 
(
	[komentarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
