@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Hall of fame";
}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Band Name</title>
    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet" type="text/css">
    <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Loading main css file -->
    <link rel="stylesheet" href="site.css">



</head>

<body class="header-collapse">

  



        <main class="main-content">
            <div class="container izenburua">

                <h2 class="zentratuizenburu"><b>Hall of fame</b></h2>



            </div>

            <div class="container">

                <!--


          <div class="containerer podium">
        <div class="podium__item">
            <p class="podium__city">2o puesto</p>
            <div class="podium__rank second">2</div>
        </div>
        <div class="podium__item">
            <p class="podium__city">1er puesto</p>
            <div class="podium__rank first">
                <svg class="podium__number" viewBox="0 0 27.476 75.03" xmlns="http://www.w3.org/2000/svg">
                    <g transform="matrix(1, 0, 0, 1, 214.957736, -43.117417)">
                        <path class="st8" d="M -198.928 43.419 C -200.528 47.919 -203.528 51.819 -207.828 55.219 C -210.528 57.319 -213.028 58.819 -215.428 60.019 L -215.428 72.819 C -210.328 70.619 -205.628 67.819 -201.628 64.119 L -201.628 117.219 L -187.528 117.219 L -187.528 43.419 L -198.928 43.419 L -198.928 43.419 Z" style="fill: #000;" />
                    </g>
                </svg>
            </div>
        </div>
        <div class="podium__item">
            <p class="podium__city">3er puesto</p>
            <div class="podium__rank third">3</div>
        </div>
    </div>


        -->
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2">

                        <img src="~/images/Podium.png" />

                    </div>
                    <div class="col-5"></div>

                </div>
                



                <div class="testua ">

                    <div class="fullwidth-block testimonial-section">
                        <div class="container">
                            <div class="quote-slider">

                                @await Component.InvokeAsync("Partida")

                            </div>
                        </div>



                    </div>


                    <a asp-controller="Report" asp-action="InprimatuFame"> <img src="~/images/repimg.png" /> Sortu pdf </a>


                </div>

            </div>



        </main> <!-- .main-content -->
        <br />
       



    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/app.js"></script>

</body>

</html>

