@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<html>

<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light fixed-top  border-bottom shadow mb-5">
        <div class="container">
            <img class="img-fluid" src="~/images/Doodler.png" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b>Partidak</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link dropdown" asp-area="" asp-controller="Home" asp-action="Partidak">Partidak</a>
                            <a class="nav-link dropdown" asp-area="" asp-controller="Home" asp-action="HallOfFame">HallOfFame</a>
                            <a class="nav-link dropdown" asp-area="" asp-controller="Home" asp-action="HallOfShame">HallOfShame</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Komentario" asp-action="Index">Foroa</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>


    <form class="box" id="account" method="post">
        <h4>Use a local account to log in.</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            
            <input placeholder="Email" type ="text" asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            
            <input  placeholder="Password"  asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Log in" />
        </div>
        <div class="form-group">
         
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
            
        </div>
    </form>



</body>



</html>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
