


body {
    background-color: #EBED94;
}


/*nire klaseak*/

.img-fluid {
    width: 100px;
    height: 100px;
}

.imgpdf {

float:left;
}

.navbar {
    background-color: #4E3B31;
}


.testua {
    background-color: #9CC667;
    margin-top: 5%;
    border-radius: 10px;
    color: black;
    text-align: center;
}



.izenburua {
    background-color: #9CC667;
    color: black;
    margin-top: 15%;
    text-align: center;
    border-radius: 10px;
    width: 20%;
    height: 50px;
}

.izenburua:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }


footer {
    background-color: #4E3B31;
    
}

.irudiforo {
    padding:5px;
    float:left;
}

.testuaforo {
text-align:left;

}



.zentratu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}
textarea {
    resize: none;
}

.bar {
    
    height: 400px;
    overflow-y: scroll;
}

.bar::-webkit-scrollbar {
    
    display:none;
    
 }

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

    .box h4 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }

    .box input[type = "text"], .box input[type = "password"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid white;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.45s;
    }

        .box input[type = "text"]:focus, .box input[type = "password"]:focus {
            width: 240px;
            border-color: white;
        }

    .box input[type = "submit"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid white;
        padding: 14px 40px;
        outline: none;
        color: black;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }

        .box input[type = "submit"]:hover {
            background: white;
            color: black;
        }

    .box a:link {
        color: #5fb962;
    }

    .box a:visited {
        color: white;
    }

    .box a:hover {
        color: #9BD770;
    }


.kbox input[type = "text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 200px;
   
    color: black;
    border-radius: 24px;
    transition: 0.45s;
}

.kbox input[type = "text"]:focus {
        width: 230px;
        outline: none;
        border: 2px solid black;
 }


.kbox input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.kbox input[type = "submit"]:hover {
    border-color: black;
}


.zuriune {
    margin-top: 15%;
}

.zentratuizenburu {


padding-top:5%;
}

.navbar {

margin-bottom:20%;
}

.forozentratu {


margin-top:10%;

}

.imgforo {
    margin-top: 15%;
}





