/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/*!
 * Project_Name: Themezy Band Template
 * Author: Themezy
 * Email: info@themezy.com
 * URL: http://themezy.com
 */
/*=========================================== 
 * Importing CSS Libraries
 *===========================================*/
/* line 45, sass/libs/_normalize.scss */

/* line 97, sass/libs/_normalize.scss */
html {
    background: #91EDEF;
    background: #91EDEF;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}




/* line 1, sass/libs/_global.scss */
body {
    background-color: #91EDEF;
    color: #848484;
    font-family: "Source Sans Pro", "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
}



/*nire klaseak*/

.img-fluid {
    width: 100px;
    height: 100px;
}

.navbar {
    background-color: #9CC667;
}


.testua {
    background-color: #EBED94;
    margin-top: 5%;
    border-radius: 10px;
    color: black;
    text-align: center;

}


.izenburua {
    background-color: #EBED94;
    color: black;
    margin-top: 15%;
    text-align: center;
    border-radius: 10px;
    width:20%;
    height:50px;
}

.izenburua:after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
footer {
    background-color: #4E3B31;
    
}

.irudiforo {
 
    float:left;
}

.testuaforo {
text-align:left;

}

.formularioforo {
   margin: auto;
}

.zentratu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}
textarea {
    resize: none;
}

.bar {
    
    height: 400px;
    overflow-y: scroll;
}

.bar::-webkit-scrollbar {
    
    display:none;
    
 }

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

    .box h4 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }

    .box input[type = "text"], .box input[type = "password"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid white;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.45s;
    }

        .box input[type = "text"]:focus, .box input[type = "password"]:focus {
            width: 240px;
            border-color: white;
        }

    .box input[type = "submit"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid white;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }

        .box input[type = "submit"]:hover {
            background: white;
            color: black;
        }

    .box a:link {
        color: #5fb962;
    }

    .box a:visited {
        color: white;
    }

    .box a:hover {
        color: #9BD770;
    }
.zuriune {
margin-top:15%;

}

.zentratuizenburu {


padding-top:5%;


}

.navbar {

margin-bottom:20%;
}







